<div class="media">
  <div class="media-body">
    <h3 class="media-heading">
      <%= link_to collaborator.name, collaborator %>
    </h3>
    <p>
      <%= collaborator.description %>
    </p>
  </div>
</div>
