<h1>About Blocipedia</h1>
<p>Blocepedia is a centrality for information dissemination.  All information here has been complied by the voluntary cooperative efforts of users like you.  Do you have some excellent knowledge you would like to make publicly known?  Then sign up for an account here and get about the business of educating the world!</p>
