<br>
<div class=" jumbotron advid"><br>
  <div class="jumbotron">
    <h1>Blocipedia</h1><br>
    <p>Blocipedia is a place for enriching the world through collaborative information sharing!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Unlimited Public Wikis</h2>
    <p>FREE plan.</p>
  </div>
  <div class="col-md-4">
    <h2>Infinite Private Wikis</h2>
    <p>Exclusive plan</p>
  </div>
</div>
