<br>
<div class=" jumbotron advid"><br>
  <div class="jumbotron">
    <h1>Blocipedia</h1><br>
    <p>Blocipedia is a place for enriching the world through collaborative information sharing!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Collaborative Public Wikis</h2>
    <p>Ready to get to work creating resources that advance learning and knowledge?<br><br>
    Sign up to get started today!</p>
    <div class="col-md-4">
      <%= link_to "Get Started", wikis_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Infinite Private Wikis</h2>
    <p>Sensitive collaboration.  Secure.  Private.  Unlimited.<br>
    Perfect for business information sharing without all the overhead.<br><br>
    Get Exclusive access now!</p>
    <div class="col-md-4">
      <%= link_to "Get Started", new_charge_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div><br><br>
