pull-right .signup {
   margin-top: 10px;
   padding-top: 10px;
 }
.gvtr {
 margin-left: 10px;
 margin-right: 7px;
 margin-bottom: 10px;
 margin-top: 0px;
 box-shadow: 7px 7px 5px grey;
 position: relative;
 float: right;
}

.advid {
  background-image: url("https://static1.squarespace.com/static/57262d2bb09f951c90cff351/57263f5d27d4bd23efd7a912/584da0aed482e93820719068/1486011063915/26_hpf_library_overall_email.jpg?format=1500w");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap"
